* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
}

/* Navbar Start */
nav {
  display: flex;
  background-color: rgb(193, 139, 243);
  justify-content: space-around;
  /* padding: 20px 0; */
  height: 70px;
  color: rgb(238, 238, 238);
  align-items: center;
}

nav .logo {
  font-family: 'Pacifico', cursive;
  letter-spacing: 3px;
  font-size: 20px;
}
nav ul {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-between;
  font-size: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 0.8em;
}

nav ul li a:hover {
  color: rgb(241, 241, 241);
}

/* Hamburger Menu */
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  /* background-color: black; */
  position: relative;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -5px;
  top: -3px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: rgb(228, 213, 213);
  border-radius: 3px;
  transition: all 0.5s;
}

.menu-toggle span:nth-child(2) {
  height: 4px;
}

/* Hamburger Menu Animation */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 100%;
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 0;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  background-color: white;
  transform: rotate(45deg) translate(-2px, -2px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
  background-color: white;
  transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}

/* Navbar End */

/* Responsive Breakspoint */
/* Ukuran Tablet */
@media screen and (max-width: 768px) {
  nav ul {
    width: 50%;
  }
}

@media screen and (max-width: 576px) {
  nav ul {
    position: absolute;
    right: 0;
    width: 80%;
    flex-direction: column;
    background-color: black;
    height: 100vh;
    top: 0;
    align-items: center;
    justify-content: space-evenly;
    z-index: -1;
    background-color: rgb(193, 139, 243);
    transform: translateX(100%);
    transition: all 1s;
    opacity: 0;
  }

  nav .logo {
    margin-left: -90px;
  }

  nav ul.slide {
    transform: translateX(0);
    opacity: 1;
  }
  .menu-toggle {
    display: flex;
    margin-right: -80px;
  }
}
